<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCj7iB1Doh_LP5cXxigd8IHhM2Vuyvs4k0</string>
	<key>GCM_SENDER_ID</key>
	<string>747519696662</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.github.viquitorreis.mynotes.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>mynotes-flutter-reisdev</string>
	<key>STORAGE_BUCKET</key>
	<string>mynotes-flutter-reisdev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:747519696662:ios:ef587d8e935b04a283ba37</string>
</dict>
</plist>